/* TIPOGRAFÍA GENERAL */
@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-ExtraBold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Black.otf');
    font-weight: 1000;
}



/* BASE WEB */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Creato Display', sans-serif;
}

:root {
    background-color: #F4F0E8;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

header {
    min-height: 650px;
    display: flex;
    align-items: center;
    padding: 0 120px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}



/* PESO TEXTOS */
.hero-text {
    max-width: 900px;
}

.hero-text > h1 {
    font-weight: 1000;
    font-size: 115px;
}

.hero-text > p {
    font-weight: 500;
    font-size: 22px;
}

span {
    font-weight: 800;
    font-size: 20px;
    color: #120F0F;
    letter-spacing: 0.5px;
}

menu > a.main {
    color: white;
}


/* BOTONES */
.hero-btn {
    background-color: #485B72;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
}



/* IMG */
.logo > img {
    height: 35px;
    width: auto;
    display: block;
}