@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-RegularItalic.otf');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}






