/* TIPOGRAFÍA GENERAL */
@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-ExtraBold.otf');
    font-weight: 800;
}

@font-face {
    font-family: 'Creato Display';
    src: url('fonts/CreatoDisplay-Black.otf');
    font-weight: 900;
}



/* BASE WEB */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Creato Display', sans-serif;
}

body {
    background-color: #F4F0E8;
    color: #120F0F;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,1);
    background-color: #5483B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;

    z-index: 99999;
}

nav > a {
    text-decoration: none;
    color: #120F0F;
}

header {
    margin-top: 60px;
    min-height: 700px;
    display: flex;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: center;
}

.menus {
    list-style: none;
    display: flex;
    gap: 32px;
}

.menus a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #120F0F;
}

.menus a.main {
    color: #FFFFFF;
}

.menus a:hover {
    opacity: 0.7;
    color: #FFFFFF;
}

/* PESO TEXTOS */
.hero-text {
    max-width: 980px;
    width: 100%;
}

.hero-text > h1 {
    font-size: 92px;
    line-height: 1;
    margin-bottom: 16px;
    font-weight: 900;
}

.hero-text > p {
    font-size: 22px;
    line-height: 1.35;
    margin-bottom: 24px;
    max-width: 760px;
}

.navi-icon {
    font-weight: 800;
    font-size: 20px;
    color: #120F0F;
    letter-spacing: 0.5px;
}



/* BOTONES */
.hero-btn {
    display: inline-block;
    background-color: #485B72;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
}



/* IMG */
.logo > img {
    height: 35px;
    width: auto;
    display: block;
}





main {
    width: 100%;
}

section {
    padding: 0 40px;
}





/* PROJECTS */
#projects {
    margin-bottom: 140px;
    margin-top: 225px;
}

#projects > h2 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 60px;
}

.projects-container {
    display: flex;
    align-items: stretch;
    gap: 40px;
    justify-content: center;
}

.project-card {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
}

.project-card > img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.project-card > p {
    font-size: 17px;
    line-height: 1.35;
    font-weight: 400;
}

/* la columna central */
.middle-project {
    padding-top: 0;
}


/* CONTACT */
#contact {
    margin-top: 140px;
    margin-bottom: 140px;
}

#contact > h2 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 180px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 350px;
}

.contact-info > p {
    font-size: 20px;
    font-weight: 400;
    color: #4b525a;
}

.contact-info i {
    margin-right: 16px;
    color: #041b3d;
}



/* FOOTER */
footer {
    background-color: #D9D9D9;
    min-height: 220px;
    padding: 40px;
    position: relative;
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 120px;
    gap: 22px;
}

.footer-icons > a {
    font-size: 28px;
    text-decoration: none;
    color: #120F0F;
}

.footer-icons a:hover {
    color: #052659;
}

.footer-icons a {
    transition: color 0.3s ease;
}

.footer-links {
    display: flex;
    gap: 36px;
}

.footer-copy {
    font-size: 14px;
    margin-bottom: 14px;
    color: #2B2726;
}

.footer-links > a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #2B2726;
}


.scroll-top {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 34px;
    height: 34px;
    background-color: #052659;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    z-index: 99999;
}





/* GALLERY PAGE */
#gallery-page {
    margin-top: 60px;
    padding: 30px 40px 120px 40px;
}

#gallery-page > h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 16px;
}

.gallery-intro {
    max-width: 900px;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 400;
    margin-bottom: 50px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 120px;
}

.gallery-grid > img {
    width: calc(33.33% - 16px);
    height: 250px;
    border-radius: 8px;
    display: block;
    object-fit: cover;
    transition: 0.3s ease;
}

.gallery-grid > img:hover {
    transform: scale(1.05);
}

.gallery-cta {
    max-width: 650px;
    margin-top: 250px;
}

.gallery-cta > p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 600;
}


.contact-btn {
    display: inline-block;
    background-color: #052659;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 22px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #052659;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: transparent;
    color: #052659;
    border: 2px solid #052659;
}






/* ABOUT */
#about-page {
    margin-top: 60px;
    padding: 40px 40px 120px 40px;
}

#about-page > h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
}

.about-top {
    margin-bottom: 250px;
}

.about-top h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
}

.about-text {
    max-width: 100%;
    width:  100%;
    font-size: 20px;
    line-height: 1.45;
    margin-bottom: 60px;
    font-weight: 400;
}

.about-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    width: 100%;
    margin-top: 120px;
}

.about-img > img {
    width: 400px;
    border-radius: 8px;
    display: block;
}

.about-skills {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    column-gap: 58px;
    row-gap: 18px;
    justify-content: center;
}

.skill > img {
    width: 160px;
    height: 160px;
    border-radius: 20px;
    display: block;
    transition: 0.2s ease;
}

.skill > img:hover {
    transform: scale(1.08);
}








/* MEDIA QUERIES */

/* MOBILE */
@media screen and (max-width: 480px) {
    nav {
        padding: 12px 24px;
    }

    .menus {
        gap: 24px;
    }

    .menus a {
        font-size: 15px;
    }

    .navi-icon {
        font-size: 18px;
    }

    .logo > img {
        height: 30px;
    }

    header {
        margin-top: 60px;
        min-height: 500px;
        padding-left: 70px;
        padding-right: 40px;
    }

    .hero-text {
        max-width: 620px;
    }

    .hero-text > h1 {
        font-size: 72px;
    }

    .hero-text > p {
        font-size: 18px;
        max-width: 620px;
    }

    .hero-btn {
        font-size: 14px;
        padding: 10px 18px;
    }

    section {
        padding: 0 24px;
    }

    #projects > h2,
    #contact > h2,
    #gallery-page > h1,
    .about-top h1 {
        font-size: 28px;
    }

    .projects-container {
        gap: 24px;
    }

    .project-card {
        width: 31%;
    }

    .project-card > p {
        font-size: 14px;
    }

    .contact-info > p {
        font-size: 16px;
    }

    #gallery-page {
        padding: 30px 24px 100px 24px;
    }

    .gallery-grid {
        gap: 20px;
    }

    .gallery-grid > img {
        width: calc(50% - 10px);
        height: 220px;
    }

    .gallery-intro {
        font-size: 15px;
        max-width: 680px;
    }

    #about-page {
        padding: 30px 24px 100px 24px;
    }

    .about-text {
        max-width: 100%;
        font-size: 15px;
    }

    .about-bottom {
        gap: 80px;
        margin-top: 100px;
    }

    .about-img img {
        width: 220px;
    }

    .about-skills {
        grid-template-columns: repeat(2, 100px);
        gap: 24px;
    }

    .skill img {
        width: 100px;
        height: 100px;
    }

    footer {
        padding: 32px 24px;
    }

    .footer-icons {
        gap: 18px;
        margin-bottom: 90px;
    }

    .footer-icons > a {
        font-size: 24px;
    }

    .footer-links {
        gap: 24px;
        flex-wrap: wrap;
    }
}






/* TABLET */
@media screen and (max-width: 720px) and (min-width: 481px) {
    /* NAV GENERAL */
    nav {
        padding: 10px 18px;
    }

    .logo > img {
        height: 26px;
    }

    .menus {
        gap: 18px;
    }

    .menus a {
        font-size: 14px;
    }

    .navi-icon {
        font-size: 14px;
    }

    /* INDEX */
    header {
        display: flex;
        margin-top: 56px;
        min-height: 520px;
        padding-left: 40px;
        padding-right: 40px;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .hero-text {
        max-width: 340px;
    }

    .hero-text > h1 {
        font-size: 64px;
        line-height: 1.1;
        margin-bottom: 14px;
    }

    .hero-text > p {
        font-size: 15px;
        line-height: 1.4;
        max-width: 330px;
        margin-bottom: 20px;
    }

    .hero-btn {
        font-size: 12px;
        padding: 10px 16px;
    }


    /* SECCIONES GENERALES */
    section {
        padding: 0 38px;
    }

    /* PROJECTS */
    #projects {
        margin-bottom: 110px;
    }

    #projects > h2 {
        font-size: 26px;
        margin-bottom: 36px;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }

    .project-card {
        width: 100%;
        display: grid;
        grid-template-columns: 120px calc(100% - 140px);
        column-gap: 14px;
        align-items: start;
    }

    .project-card > img {
        width: 120px;
        height: 160px;
        object-fit: cover;
        border-radius: 6px;
        display: block;
        margin: 0;
    }

    .project-card > p {
        font-size: 15px;
        line-height: 1.3;
        margin: 0;
        max-width: 100%;
    }

    .middle-project {
        grid-template-columns: calc(100% - 140px) 120px;
        column-gap: 14px;
    }

    .middle-project > p {
        text-align: right;
    }


    /* CONTACT */
    #contact {
        margin-bottom: 110px;
    }

    #contact > h2 {
        font-size: 24px;
        margin-bottom: 180px;
    }

    .contact-info {
        gap: 22px;
    }

    .contact-info > p {
        font-size: 15px;
        line-height: 1.35;
    }

    .contact-info i {
        margin-right: 14px;
    }

    .contact-btn {
        display: inline-block;
        background-color: #052659;
        color: #FFFFFF;
        text-decoration: none;
        padding: 10px 18px;
        margin-top: 8px;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 700;
        border: 2px solid #052659;
        transition: all 0.3s ease;
    }

    .contact-btn:hover {
        background-color: transparent;
        color: #052659;
        border: 2px solid #052659;
    }



    /* ABOUT */
    #about-page {
        margin-top: 56px;
        padding: 40px 38px 100px 38px;
    }

    .about-top {
        margin-bottom: 100px;
    }

    .about-top h1 {
        font-size: 26px;
        font-weight: 900;
        margin-bottom: 26px;
    }

    .about-text {
        width: 100%;
        max-width: none;
        font-size: 15px;
        line-height: 1.45;
        margin-bottom: 0;
    }

    .about-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
        margin-top: 0;
        width: 100%;
    }

    .about-skills {
        order: 1;
        display: grid;
        grid-template-columns: repeat(4, 90px);
        gap: 16px;
        justify-content: center;
    }

    .skill > img {
        width: 90px;
        height: 90px;
        border-radius: 16px;
        display: block;
    }

    .about-img {
        order: 2;
    }

    .about-img > img {
        width: 360px;
        max-width: 100%;
        border-radius: 8px;
        display: block;
    }


    /* GALLERY */
    .gallery-grid > img {
        width: calc(33.33% - 16px);
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .gallery-cta {
        max-width: 600px;
        margin-top: 140px;
    }

    .gallery-cta > p {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 18px;
        font-weight: 600;
    }


    /* FOOTER GENERAL */
    footer {
        background-color: #D9D9D9;
        min-height: 250px;
        padding: 28px 28px 22px 28px;
        position: relative;
    }

    .footer-icons {
        display: flex;
        justify-content: flex-end;
        gap: 18px;
        margin-bottom: 110px;
    }

    .footer-icons > a {
        font-size: 24px;
        text-decoration: none;
        color: #120F0F;
    }

    .footer-copy {
        font-size: 14px;
        margin-bottom: 18px;
        color: #2B2726;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 160px 160px;
        row-gap: 16px;
        column-gap: 30px;
    }

    .footer-links > a {
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: #2B2726;
    }

    .scroll-top {
        position: fixed;
        right: 18px;
        bottom: 18px;
        width: 34px;
        height: 34px;
        background-color: #052659;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 4px;
        z-index: 99999;
    }
}